:root {
    --background-color-light: #f3f4f8;
    --text-color-light: #333333;
    --background-color-dark: #121212;
    --text-color-dark: #ffffff;
}

body {
    background-color: var(--background-color-light);
    color: var(--text-color-light);
    transition: background-color 0.3s, color 0.3s;
}

body.dark-mode {
    background-color: var(--background-color-dark);
    color: var(--text-color-dark);
}

/* // Check the user's preference for dark mode
const prefersDarkMode = window.matchMedia('(prefers-color-scheme: dark)').matches;

// Set the initial mode based on user preference or default to light mode
document.body.classList.toggle('dark-mode', prefersDarkMode);

// Toggle between dark and light modes
function toggleDarkMode() {
    const body = document.body;
    body.classList.toggle('dark-mode');
}

// Add an event listener to a button or any element triggering the mode switch
document.getElementById('toggleModeButton').addEventListener('click', toggleDarkMode);
 */

